@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Model.Enums
@using SolEx.Hurt.Web.Site2.Controllers
@using SolEx.Hurt.Web.Site2.Helper
@{
    PlikIntegracjiSzablon szablon = ViewBag.Plik;
    int wersja = ViewBag.Wersja;
}

<div class="modal integracja" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: left;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title ">
                    <span class="label format-@szablon.Format"> @szablon.Format</span>
                    <span class="label label-warning">  @Html.PobierzTlumaczenie("wersja ") @wersja</span>
                    @Html.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id, RenderSection("Nazwa").ToHtmlString(), MiejsceFrazy.Integracja)
                </h4>

            </div>
            <div class="modal-body">
                @Html.Partial("_pobierzPlik", szablon)
                <div>
                    <p class="lead">@Html.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id, "Opis techniczny pliku", MiejsceFrazy.Integracja)</p>
                    <p> @RenderSection("Opis")</p>
                </div>
                @{ RenderSection("Szablon").WriteTo(TextWriter.Null); }
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>