@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Model.Enums
@using SolEx.Hurt.Model.Web
@using SolEx.Hurt.Web.Site2.Helper
@model SolEx.Hurt.Web.Site2.Models.DaneDoWidokow.Koszyk.ImportowaniePozycjiKoszykaModel

<div class="koszyk-import">

        @if (!string.IsNullOrEmpty(Model.NaglowekStopka.Naglowek))
        {
            @Html.Raw(Model.NaglowekStopka.Naglowek)
        }
        @Html.Hidden("provider", Model.Lista.FirstOrDefault().Value.OpisTypu)

        @Html.Partial("EditorTemplates/Pola/Text", new ParametryPola("importDane", "Dane do importu", "Text", true, ""))

        <button type="button" id="send" onclick="ImportujPozycjeKoszyka(this)" class="btn btn-success koszyk-import" style="margin-top: 0;">@Html.PobierzTlumaczenie("Wczytaj produkty")</button>

    @*@if(!(SolexHelper.AktualnyKlient.Dostep == AccesLevel.Niezalogowani || Request.Url.LocalPath.ToLower() == "/" + SolexBllCalosc.PobierzInstancje.Konfiguracja.AdresStronyKoszyk.ToLower()))
            {
                <div class="alert alert-success" id="komunikatPoImporcie-send" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <a class="alert-link" href="@Url.ZbudujLinkKoszyka(SolexHelper.AktualnyJezyk)">
                        @Html.PobierzTlumaczenie("Zaimportowano poniższe pozycje do koszyka, kliknij tutaj aby przejść do koszyka")
                    </a>
                </div>
            }*@
        <div id="manager-importow-rezultat-send">
        </div>
        @if (!string.IsNullOrEmpty(Model.NaglowekStopka.Stopka))
        {
            @Html.Raw(Model.NaglowekStopka.Stopka)
        }
</div>