@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Model.Enums
@using SolEx.Hurt.Web.Site2.Helper
@using ServiceStack.Text
@model SolEx.Hurt.Web.Site2.Models.BlogModel

<div class="blog-lista-duze-zdjecia">
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-xs-6 col-md-6 text-center">

            @if (!string.IsNullOrEmpty(Model.NaglowekWpisow))
            {
                <span class="blogi-naglowek-wpisow text-center">
                    @Html.Raw(Model.NaglowekWpisow)
                </span>
            }

            @foreach (var item in Model.BlogWpisList)
            {
                var adres = Url.ZbudujLink(item, Model.SymbolStronyWpisPojedynczy, SolexHelper.AktualnyJezyk);
                string url = string.IsNullOrEmpty(adres) ? "" : string.Format("href=\"{0}\"", adres);
                bool blank = item.LinkAlternetywny != null && item.LinkAlternetywny.Tryb == TrybOtwierania.NoweOkno;

                <div class="@(Model.CssDlaPojedynczegoWpisu != null ? Model.CssDlaPojedynczegoWpisu.Join(" ") : "") ">
                    @if (Model.BlogPokazujTytul)
                    {
                        <h5 class="font-weight-bold">
                            <a @Html.Raw(url)>@item.Tytul </a>
                        </h5>
                    }

                    @if (Model.PokazujDate == BlogiSposobPokazaniaDaty.PodTytulem)
                    {
                        <span class="blog-data-dodania">@item.SkroconaDataDodania</span>
                    }

                    <a @Html.Raw(url)  @(blank?"target=\"_blank\"":"")>
                        <p>@Html.Raw(item.Tresc.PobierzSkrot(Model.BlogIloscPierwszychZnakow, "..."))</p>

                        @if (!string.IsNullOrEmpty(adres) && !string.IsNullOrEmpty(Model.CzytajDalejTresc))
                        {
                            <span class="btn btn-success" style="border-radius: 25px; margin-bottom: 25px"> @Html.PobierzTlumaczenie(SolexHelper.AktualnyJezyk.Id, Model.CzytajDalejTresc) </span>
                        }
                    </a>

                    <br />
                </div>
            }
        </div>
        <div class="col-xs-6 col-md-6 text-center">
            @foreach (var item in Model.BlogWpisList)
            {
                if (item.ZdjecieId.HasValue)
                {
                    var adres = Url.ZbudujLink(item, Model.SymbolStronyWpisPojedynczy, SolexHelper.AktualnyJezyk);
                    string url = string.IsNullOrEmpty(adres) ? "" : string.Format("href=\"{0}\"", adres);
                    bool blank = item.LinkAlternetywny.Tryb == TrybOtwierania.NoweOkno;

                    <a @Html.Raw(url)  @(blank?"target=\"_blank\"":"")>
                        <img src="@Html.Raw(SolexBllCalosc.PobierzInstancje.Pliki.PobierzObrazek(item.ZdjecieId.Value).LinkWWersji(Model.BlogPresetDoZdjec))" />

                        @if (Model.PokazujDate == BlogiSposobPokazaniaDaty.JakoZnaczekNaZdjeciu)
                        {
                            <span class="blog-data-dodania blog-data-znaczek">@item.SkroconaDataDodania</span>
                        }
                    </a>

                }
            }
        </div>
    </div>
</div>