
@model SolEx.Hurt.Model.Adres

<td>@Model.Id</td>
<td>@Model.Nazwa</td>
<td>@Model.UlicaNr</td>
<td>@Model.Miasto</td>
<td>@Model.KodPocztowy</td>
<td>@Model.Kraj</td>
<td>@Model.Telefon</td>
<td>@Model.Email</td>
<td>@Model.TypAdresu</td>