@using System.Web.Mvc
@using System.Web.Mvc.Html
@using SolEx.Hurt.Core.BLL
@using SolEx.Hurt.Helpers
@using SolEx.Hurt.Model.Enums
@using SolEx.Hurt.Model.Helpers
@using SolEx.Hurt.Model.Web
@using SolEx.Hurt.Web.Site2.Helper
@using SolEx.Hurt.Web.Site2.Helper.DaneListaAdmin
@model DaneEdycjaAdmin

@using (Html.BeginForm(Model.AkcjaZapisz, "Admin", FormMethod.Post, new { id = "edycja" }))
{
    <div class="naglowek-glowny czcionka-tekstowa-paragraf">
        <h5>
            @Model.DaneObiektu.NazwaObiektu @if (string.IsNullOrEmpty(Model.KluczWartosc))
            {
                <small class="text-muted">@Html.PobierzTlumaczenie("Nowy")</small>
            }
            else
            {
                <small class="text-muted">[@Model.KluczWartosc]</small>
            }
        </h5>

        <span>@Html.Raw(Model.DaneObiektu.PrzyjaznyOpisObiektu)</span>

        <div class="akcje pull-xs-right">

            @if (!string.IsNullOrEmpty(Model.KluczWartosc) && SolexBllCalosc.PobierzInstancje.DostepDane.CzyJestWlaczonyZapisZmiany(Model.Typ, Model.KluczWartosc) && SolexBllCalosc.PobierzInstancje.DostepDane.CzySaZmianyNaObiekcie(Model.Typ, Model.KluczWartosc))
            {
                <span style="margin-right: 30px">
                    @Html.ActionLink("Pokaż historie zmian", "HistoriaZmian", "Admin", new { id = Model.KluczWartosc, typ = Model.Typ.PobierzOpisTypu() }, new { @class = "btn btn-secondary-outline btn-sm historia-zmian" })
                </span>
            }


            @if (!string.IsNullOrEmpty(Model.KluczWartosc) && Model.DaneObiektu.Funkcje != null && Model.DaneObiektu.Funkcje.Any())
            {
                foreach (DodatkowaFunkcja funkcja in Model.DaneObiektu.Funkcje)
                {
                    if (funkcja.Nazwa.Equals("Edycja", StringComparison.InvariantCultureIgnoreCase)
                        || (funkcja.Nazwa.Equals("Usuń", StringComparison.InvariantCultureIgnoreCase) && !Model.DaneObiektu.MoznaEdytowac)
                        )
                    { continue; }

                    <a class="@funkcja.KlasaCssPrzycisku" href="@funkcja.Adres">@funkcja.Nazwa</a>

                }
            }

            <button type="submit" name="akcja" value="@AkcjaEdycjiObiektu.Anuluj" class="btn btn-success btn-sm" formnovalidate="formnovalidate">Anuluj</button>
            @if (Model.DaneObiektu.MoznaEdytowac)
            {
                <button type="submit" name="akcja" value="@AkcjaEdycjiObiektu.Zastosuj" class="btn btn-success btn-sm">Zastosuj</button>
                <button type="submit" name="akcja" value="@AkcjaEdycjiObiektu.Zapisz" class="btn btn-primary btn-sm">Zapisz</button>
            }

        </div>

    </div>
    <div class="clearfix"></div>
    if (Model.DaneObiektu.Komunikaty != null && Model.DaneObiektu.Komunikaty.Any())
    {
        @Html.Partial("Komunikat", Model.DaneObiektu.Komunikaty)
    }

    @Html.Partial("_EdycjaZawartosc", Model)
}