@{
    var jezyki = SolEx.Hurt.Core.BLL.SolexBllCalosc.PobierzInstancje.Konfiguracja.JezykiWSystemie;
    var domysny = jezyki.Values.First(x => x.Domyslny);
}

@using System.Web.Mvc
@using System.Web.Mvc.Html
@model SolEx.Hurt.Web.Site2.Models.Tlumaczenia
<div class="modal  edycja-pliku" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: left;">
    <div class="modal-dialog modal-lg">
        <div class= "modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
              
                <h3 class="modal-title ">
                    Tłumaczenie frazy. Wartość domyślna: @Model.TlumacznieJezykPodstawowy.Domyslne
                </h3>
               
            </div>
            <div class="modal-body">
                <form></form>
                @using (Html.BeginForm("Tlumacz", "Admin", FormMethod.Post, new { id = "edycjafrazy" }))
                {
                    @Html.HiddenFor(x => x.TlumacznieJezykPodstawowy.Id)
                    @Html.HiddenFor(x => x.TlumacznieJezykPodstawowy.Domyslne)
                    @Html.TextAreaFor(x => x.TlumacznieJezykPodstawowy.Nazwa, new { @class = "animacja form-control", placeholder = "Tłumaczenie dla języka " + domysny.Nazwa})
                    for (int i = 0; i < Model.Lokalizacje.Length; i++)
                    {
                        @Html.HiddenFor(x => x.Lokalizacje[i].Id)
                        @Html.HiddenFor(x => x.Lokalizacje[i].JezykId)
                        @Html.HiddenFor(x => x.Lokalizacje[i].Pole)
                        @Html.HiddenFor(x => x.Lokalizacje[i].ObiektId)
                        @Html.HiddenFor(x => x.Lokalizacje[i].Typ)
                        @Html.TextAreaFor(x => x.Lokalizacje[i].Wpis, new { @class = "animacja form-control", placeholder = "Tłumaczenie dla języka " + jezyki[Model.Lokalizacje[i].JezykId].Nazwa })
                    }
                    <div class="zatwierdzanie">
                        <button type="submit" class="btn btn-primary" data-postback-ajax>Zapisz zmiany</button>
                        <span id="result"></span>
                    </div>
                }

            </div> 
            <div class="modal-footer">
             
            </div>

        </div>
    </div>

</div>